# Predicted Price of houses in Melbourne

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [2]:
melbourne_file_path = r"C:\Users\Duda\Desktop\melb_data.csv"

In [3]:
melbourne_data = pd.read_csv(melbourne_file_path)

In [4]:
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
melbourne_data = melbourne_data.dropna(axis=0) #descartando valores ausentes
melbourne_data = melbourne_data[(melbourne_data[['Landsize']] != 0).all(axis=1)]

In [7]:
y = melbourne_data.Price

In [8]:
y_test = y.loc[:10]

In [9]:
y = y.loc[11:]

In [10]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [11]:
X = melbourne_data[melbourne_features]
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [12]:
X_test = X.loc[:10]

In [13]:
X = X.loc[11:]

In [14]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  5175.000000  5175.000000   5175.000000  5175.000000  5175.000000
mean      3.119227     1.641159    563.715556   -37.804911   144.991514
std       0.903910     0.733092    955.059341     0.079445     0.105693
min       1.000000     1.000000      1.000000   -38.164920   144.542370
25%       3.000000     1.000000    248.000000   -37.854170   144.919310
50%       3.000000     2.000000    489.000000   -37.796000   144.998900
75%       4.000000     2.000000    660.000000   -37.751700   145.060800
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [15]:
X.head()

    Rooms  Bathroom  Landsize  Lattitude  Longtitude
11      3       2.0     214.0   -37.8085    144.9964
15      2       1.0     238.0   -37.8090    144.9976
16      3       2.0     113.0   -37.8056    144.9930
17      3       1.0     138.0   -37.8021    144.9965
19      2       1.0     150.0   -37.8011    145.0004

In [16]:
melbourne_model = DecisionTreeRegressor(random_state=1)

In [17]:
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [22]:
print("Making predictions for the following exemples:")
print(y_test)
print("The predictions are")
print(melbourne_model.predict(X_test))

Making predictions for the following exemples:
1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
9    1097000.0
Name: Price, dtype: float64
The predictions are
[1315000. 1150000. 1375000. 1500000. 1242000. 1310000.]